<% posters.in_groups_of(4, false).each do |poster_group| %>
  <div>
  <% poster_group.each_with_index do |poster, index| %>
    <%= image_tag poster.image.url(:thumb) if index > 0 %>
  <% end %>
  </div>
<% end %>
