<% title 'Editing Movie' %>
<h1 class='form-movie-heading'><%= yield(:title) %></h1>

<%= render 'form' %>

<div class='form-movie-links'>
  <%= link_to 'Show', @movie, class: 'navbar-link' %> |
  <%= link_to 'Back', movies_path, class: 'navbar-link' %>
</div>
