<div class='container'>
  <div>
    <%= render 'search' %>
  </div>

  <% if @movies.present? %>
    <% model_class = Movie %>

    <div class='movie-name'>
      <h1 class='text-center'><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='col-md-offset-3'></div>

          <div class='movies-display'>
            <%= render partial: 'movies', locals: { movies: @movies } %>
          </div>

      </div>
    </div>
  </div>

  <div class='movies-pagination'>
    <%= render partial: 'pagination', locals: { movies: @movies } %>
  </div>
  <% else %>
    No Movie To Show Yet.
  <% end %>
  <div class='margin-padded-space'></div>
</div>
