<% if @search_results.present? %>
  alert('Results found!');
  $('.movies-display').html("<div><%= escape_javascript (render partial: 'movies', locals: { movies: @search_results }) %></div>");
  $('.movies-pagination').html("<%= escape_javascript (render partial: 'pagination', locals: { movies: @search_results }) %>");
<% else %>
  alert('No results found!');
  $('.movies-display').html('<div>No Results Found!</div>');
  $('.movies-pagination').html('');
<% end %>
