<div class='margin-padded-space'>
  <div class='msg-container'>
    <% if notice %>
      <p class='alert alert-success'><%= notice %></p>
    <% elsif alert %>
      <p class='alert alert-danger'><%= alert %></p>
    <% end %>
  </div>
</div>
