body {
  padding-top: 10px;
  padding-bottom: 25px;
}

.form-devise {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-devise-heading {
  max-width: 220px;
  margin-bottom: 30px;
  margin: 0 auto;
  padding: 15px;
}

.form-devise .checkbox {
  margin-left: 100px;
}

.form-devise .form-devise-btn {
  margin: 0 auto;
}

.form-movie {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

.form-movie-heading {
  max-width: 275px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-movie-links {
  max-width: 550px;
  padding: 10px;
  margin: 0 auto;
}

.show-movie {
  padding: 10px;
  margin: 0 auto;
  font-size: 24px;
}

.movie-name {
  font-weight: bold;
  font-size: 32px;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.movie-info {
  font-size: 20px;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-up: 2px;
}

.margin-padded-space {
  padding: 6px;
  margin-bottom: 6px;
  margin-up: 6px;
}

#site-title {
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.msg-container {
  max-width: 450px;
  margin: 0 auto;
}

.movie-details .col-md-12 {
  background-color: #e9e8f8;
}

iframe {
  width: 1075px;
  height: 625px;
  overflow: auto;
  position: relative;
}

h1 {
  font-weight: bold;
  font-size: 26px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.movie-show {
  border: 4px solid #b3cccc;
}

.user-details .col-md-12 {
  background-color: #e9e8f8;
}

.user-profile {
  padding: 10px;
  margin: 0 auto;
  font-size: 22px;
}

.user-name {
  margin: 0 auto;
  font-size: 24px;
}

.report-action {
  color: red;
}

.form-search {
  max-width: 1095px;
  padding: 15px;
  margin: 0 auto;
}

h3 {
  font-weight: normal;
  font-size: 20px;
}

.header-content {
  margin-top: 0.1px;
}

.navbar-inverse {
  background-color: #336699;
  font-weight: bold;
}

.form-search-header {
  max-width: 425px;
  padding: 10px;
  margin: 0 auto;
}

.movie-info-heading {
  font-weight: bold;
  font-size: 22px;
  padding-top: 6px;
}

.movie-info h2 {
  margin-top: 2px;
  padding: 1px;
  font-weight: normal;
  font-size: 22px;
}

.home-heading {
  margin-bottom: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

#content {
  min-height: 100%;
  position: relative;
  padding-bottom: 10px;
}

#header {
  padding-bottom: 1px;
}

#footer {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 40px;
}

.footer {
  background-color: #336699;
}

.form-review-edit {
  margin-top: 10px;
  margin-left: 115px;
}

.panel-default {
  margin-top: 30px;
  margin-left: 400px;
}
